* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: #F8F8F8;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 3rem 3rem;
}
header figure {
    display: flex;
    align-items: center;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background-color: white;
    border-radius: 2rem;
    width: 90vw;
    height: fit-content;
    margin: 1rem 0;
    font-size: 1.6rem;
}
main article div {
    height: 10.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main article div .precio {
    font-size: 1.4rem;
    color: #C3C6C9;
}
main article div button {
    border-width: 0;
    border-radius: 50%;
    padding: 0.5rem;
    width: fit-content;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
main article > button {
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    border-width: 0;
    border-radius: 0.75rem;
}
main article > p {
    color: #C3C6C9;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    width: 100vw;
    height: 5rem;
    background-color: #667080;
}

